/*header logo*/
.logo {
	min-width: 230px;
	position: absolute;
	margin: 40px 10%;
}

#header_logo {
	width: 64px;
	height: 64px;
	display: inline-block;
}

.logo_text {
	display: inline;
	position: absolute;
	top: 10px;
	color: black;
}

#logo_text1 {
	font-size: 22px;
}


/*top icons*/
.top_icon {
	min-width: 270px;
	position: absolute;
	margin: 60px 80%;
}

#wechat, #weibo, #youku{width: 45px;display: inline-block;transition-duration: 0.6s}

#wechat:hover, #weibo:hover, #youku:hover{filter: brightness(130%);transition-duration: 0.6s}

/*footer area*/
#footer_logo {
	display: block;
	width: 84px;
	height: 84px;
	margin: auto;
	filter: invert(100%);
	margin-top: -150px;
	padding: 0 9px 0 0;
}

footer p {
	text-align: center;
	font-size: 100px;
	color: white;
}

.rhomb_footer {
	height: 200px;
	background: url('assets/rhombus.png') center no-repeat;
}

#footer_area {
	height: 650px;
	background: #292929;
	margin-top: -35px;
}

.baidu_map,#line_m,#bar_code,#line_bl,#line_br,#line_bb,#m_text {display: inline-block;}

.baidu_map {
	width: 30%;
	height: 50%;
	border: #b2a682 solid 6px;
	margin-top: 10%;
	margin-left: 10%;
}

#line_m {
	width: 0;
	height: 50%;
	border: #b2a682 solid 2px;
	margin-left: 7.8%;
}

#bar_code {
	width: 30%;
	height: 50%;
	border: #b2a682 solid 6px;
	margin-left: 9%;
}

#line_bl {
	width: 30%;
	height: 0;
	border: white solid 2px;
	margin-top: 50px;
	margin-left: 10%;
}

#m_text {
	color: white;
	border: white solid 2px;
	text-align: center;
	margin-left: 3%;
	width: 12%;
}

#line_br {
	width: 30%;
	height: 0;
	border: white solid 2px;
	margin-left: 3%;
}

#bb_text {
	border-bottom: #b2a682 solid 4px;
	margin-top: 20px;
	background: #292929;
}

#bb_text span {
	display: inline-block;
	color: white;
	width: 20%;
	height: auto;
}

#bb_text1 {
	margin-left: 15%;
}

#bb_text2 {
	margin-left: 30%;
}