.text_center {
	text-align: center;
}

.text_left {
	text-align: left;
}

.font_size18 {
	font-size: 18px;
}

.max_height900 {
	max-height: 900px;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
}

video,img {
	display: block;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}

li {
	font-size: 16px;
	display: inline-block;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 9px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #b2a682;
}

.active {
	background-color: #b2a682;
}

#debug {
	margin:10px;
	text-align: center;
}

.container {
	min-width: 650px;
	max-width: 1920px;
	position: relative;
	margin: auto;
	display: block;
}

.fill_content {
	height: 800px;
	/*background-color: orange;*/
	position: relative;
}

.fill_content p {
	text-align: center;
	font-size: 100px;
}

/*header logo*/
#header_logo {
	width: 64px;
	height: 64px;
	display: inline-block;
}

.logo_text {
	display: inline;
	position: absolute;
	top: 10px;
}

#logo_text1 {
	font-size: 22px;
}

.logo {
	min-width: 230px;
	position: absolute;
	margin: 40px 10%;
}

/*top menu*/
#top_menu {
	min-width: 270px;
	position: absolute;
	margin: 50px 80%;
}

#wechat {
	width: 32px;
	display: inline-block;
}

#weibo {
	width: 32px;
	display: inline-block;
}

#youku {
	width: 32px;
	display: inline-block;
}


/*main menu*/
#main_menu {
	height: 40px;
	background: black;
}

.menu_tag li{
	float: right;
}

#split {
	color: #b2a682;
	padding: 12px 36px;
	display: block;
}

#index_video {
	width: 100%;
	max-height: 900px;
	background: black;
}

/*overlap blocks*/
#block1 {
	height: 160px;
	width: 280px;
	background: #292929;
	position: absolute;
	margin: -300px 45px;
}

.block1_text {
	position: absolute;
	color: #b2a682;
	font-size: 20px;
	line-height: 30px;
	margin: 30px 40px;
}

#block2 {
	height: 300px;
	width: 400px;
	background: white;
	position: absolute;
	margin: -140px 325px;
}

.block2_text {
	position: absolute;
	font-size: 18px;
	font-weight: bold;
	margin: 60px 50px;
}

#block3 {
	width: 425px;
	position: absolute;
	margin-left: -100px;
}

#block3_img {
	width: 100%;
}

/*rhombus header*/

.rhomb_header {
	height: 200px;
	background: url('assets/rhombus.png') center no-repeat;
	z-index: 1;
	margin-top: -100px;
}

.rhomb_text {
	color: #b2a682;
	text-align: center;
	line-height: 200px;
}

/*标签*/
.tag_bg {
	height: 360px;
	background-color: lightgrey;
	margin-top: -100px;
	z-index: -1;
}

.tag {
	height: 200px;
	width: 80%;
	margin: auto;
	margin-top: -200px;
	z-index: 1;	
}

.tag_text {
	width: 1200px;
	margin: auto;
}

.tag_text li{
	background: white;
	color: #b2a682;
	padding: 100px 40px;
	margin-top: 20px;
	margin-left: 21px;
}

.tag_text li:hover {
	background: black;
	transition-duration: 0.5s;
}

#more:hover {
	color: white;
}

/*业务范畴文字块*/
#range_bottom {
	background: black;
	font-size: 18px;
}

#range_bottom span {
	display: block;
}

#range_img {
	width: 75%;
	margin: auto;
	z-index: -1;
}

.range_block1,.range_block2,.range_block3 {
	opacity: 1;
}

.range_block1 {
	height: 110px;
	width: 230px;
	background: #292929;
	position: absolute;
	color: white;
	right: 425px;
	margin-top: -335px;
}

.range_block2 {
	height: 50px;
	width: 130px;
	background: #b2a682;
	position: absolute;
	right: 425px;
	margin-top: -225px;
	line-height: 50px;
}

.range_block3 {
	height: 225px;
	width: 375px;
	background: white;
	position: absolute;
	right: 50px;
	margin-top: -225px;
}

.range_block3 span {
	margin: 13px 0px;
}

/*technology and experience*/
#tech_3rd span {
	display: block;
}

#tech_tag {
	width: 900px;
}

#tech_tag li{
	padding: 100px 60px;
}

#tech_img {
	width: 100%;
}

.tech_block1,.tech_block2,.tech_block3 {
	position: absolute;
}

.tech_block1 {
	height: 80px;
	width: 230px;
	background: black;
	right: 600px;
	margin-top: -360px;
	line-height: 30px;
}

.tech_block2 {
	height: 50px;
	width: 190px;
	background-color: #b2a682;
	right: 100px;
	margin-top: -330px;
	line-height: 50px;
}

.tech_block3 {
	height: 280px;
	width: 500px;
	background: white;
	right: 100px;
	margin-top: -280px;
	line-height: 30px;
}


/*footer area*/
#footer_logo {
	width: 84px;
	height: 84px;
	margin: auto;
	filter: invert(100%);
	margin-top: -150px;
	z-index: 1;
	padding: 0 9px 0 0;
}

footer p {
	text-align: center;
	font-size: 100px;
	color: white;
}

@media (max-width:500px){
	body {
		margin: 10px;
	}
}

.rhomb_footer {
	height: 200px;
	background: url('assets/rhombus.png') center no-repeat;
}

#footer_area {
	height: 500px;
	background: black;
	margin-top: -35px;
}




























