.text_center {
	text-align: center;
}

.text_left {
	text-align: left;
}

.font_size18 {
	font-size: 18px;
}

.max_height900{max-height: 900px;}.max_height800{max-height: 800px;}.max_height700{max-height: 700px;}.max_height600{max-height: 600px;}

.max_width{width: 100%;}.width80{width: 80%;}

.bg_black {
	background: black;
}

.deep{z-index: -1;}.high{z-index: 1;}

body {
	margin: 0;
	padding: 0;
}

video,img{display: block;}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}

li {
	font-size: 16px;
	display: inline-block;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 9px 16px;
	text-decoration: none;
	transition-duration: 0.6s;
}

li a:hover {
	color: #b2a682;
	transition-duration: 0.6s;
}

a {
	text-decoration: none;
	color: black;
}

.inactive {
	color: #b2a682;
	transition-duration: 0.6s;
}

.active {
	background: black;
	color: #b2a682;
}

#debug {
	margin:10px;
	text-align: center;
}

.container {
	min-width: 320px;
	max-width: 1920px;
	position: relative;
	margin: auto;
	display: block;
}

#rb_container{
	height: 330px;
	width: 605px;
	margin-top: -330px;
	position: relative;
	left: 50%;
	transition-duration: 0.6s;
}

#tb_container {
	height: 280px;
	width: 500px;
	margin-top: -280px;
	position: relative;
	left: 60%;
	transition-duration: 0.6s;
}

.fill_content {
	height: 800px;
	position: relative;
}

.fill_content p {
	text-align: center;
	font-size: 100px;
}

/*header logo*/
#header_logo {
	width: 64px;
	height: 64px;
	display: inline-block;
}

.logo_text {
	display: inline;
	position: absolute;
	top: 10px;
}

#logo_text1 {
	font-size: 22px;
}

.logo {
	min-width: 230px;
	position: absolute;
	margin: 40px 10%;
}

/*top menu*/
#top_menu {
	min-width: 270px;
	position: absolute;
	margin: 60px 80%;
}

#wechat, #weibo, #youku{width: 45px;display: inline-block;transition-duration: 0.6s}

#wechat:hover, #weibo:hover, #youku:hover{filter: brightness(130%);transition-duration: 0.6s}

/*main menu*/
#main_menu {
	height: 40px;
	background: black;
}

.menu_tag {
	width: 612px;
	height: 40px;
	margin: auto;
}

.menu_tag li {
	float: left;
}

#split {
	color: #b2a682;
	padding: 12px 36px;
	display: block;
}

#index_video {
	width: 100%;
	background: black;
}

/*overlap blocks*/
#block1 {
	height: 160px;
	width: 280px;
	background: #292929;
	position: absolute;
	margin: -300px 45px;
}

.block1_text {
	position: absolute;
	color: #b2a682;
	font-size: 20px;
	line-height: 30px;
	margin: 30px 40px;
}

#block2 {
	height: 300px;
	width: 400px;
	background: white;
	position: absolute;
	margin: -140px 325px;
}

.block2_text {
	position: absolute;
	font-size: 18px;
	font-weight: bold;
	margin: 60px 50px;
}

#block3 {
	width: 425px;
	position: absolute;
	margin-left: -100px;
}

#block3_img {
	width: 100%;
}

/*rhombus header*/

.rhomb_header {
	height: 200px;
	background: url('assets/rhombus.png') center no-repeat;
	z-index: 1;
	margin-top: -100px;
}

.rhomb_text {
	color: #b2a682;
	text-align: center;
	line-height: 200px;
}

/*标签*/
.tag_bg {
	height: 360px;
	background-color: #f4f4f4;
	margin-top: -100px;
	z-index: -1;
}

.tag {
	height: 210px;
	margin: auto;
	margin-top: -250px;
	z-index: 1;
}

.tag_text {
	margin: auto;
}

.range_tag {
	width: 1152px;
}

.tech_tag {
	width: 720px;
}

.range_tag img {
	margin: auto;
	margin-top: 20px;
	border-radius: 50px;
	width: 48px;
	background: #b2a682;
}

.range_tag li:nth-child(even) img {
	background: #b2b2b2;
}

.tech_tag img {
	margin: auto;
	margin-top: 50px;
	width: 75px;
}

.tag_text li{
	height: 180px;
	width: 144px;
	text-align: center;
	float: left;
	font-size: 15px;
}

.tag_text li:nth-child(even) {
	color: #b2b2b2;
}


.tag_text li:hover {
	background: black;
	transition-duration: 0.6s;
}

#more {
	text-decoration: none;
	color: black;
}

#more:hover {
	color: white;
}

/*tag titles*/
.range_title {
	width: 1152px;
	margin: auto;
}

.range_title h4, .tech_title h4{
	display: inline-block;
	border-bottom: 3px solid #b2a682;
}

#rt_movie,#rt_plan,#rt_prop{text-align: center;margin-left: 80px;width: 210px;}
#rt_net,#rt_baby{text-align: center;margin-left: 60px;width: 80px;}
#rt_movie{margin-left: 30px;}

.tech_title {
	width: 720px;
	margin: auto;
}

#tt_plan,#tt_shoot,#tt_cut,#tt_special,#tt_adv{text-align:center;width:64px;margin-left: 75px;}
#tt_plan{margin-left: 40px;}

/*业务范畴文字块*/
#range_bottom {
	background: black;
	font-size: 18px;
}

#range_bottom span {
	display: block;
}

#range_img {
	margin: auto;
	z-index: -1;
}

.range_block1,.range_block2,.range_block3 {
	transition-duration: 0.6s;
}

.range_block1 {
	height: 110px;
	width: 230px;
	background: #292929;
	position: absolute;
	color: white;
	z-index: 1;
}

.range_block2 {
	height: 50px;
	width: 130px;
	background: #b2a682;
	position: absolute;
	left: 100px;
	margin-top: 110px;
	line-height: 50px;
	z-index: 1;
}

.range_block3 {
	height: 225px;
	width: 375px;
	background: white;
	position: absolute;
	right: 0;
	margin-top: 110px;
}

.range_block3 span {
	margin: 13px 0px;
}

/*technology and experience*/
#tech_3rd span {
	display: block;
}

#tech_tag li{
	padding: 100px 60px;
}

#tech_img {
	width: 100%;
}

.tech_block1,.tech_block2,.tech_block3 {
	position: absolute;
	transition-duration: 0.6s;
}

.tech_block1 {
	height: 80px;
	width: 230px;
	background: black;
	line-height: 38px;
	color: white;
	margin-top: -80px;
	margin-left: -230px;
	z-index: 1;
}

.tech_block2 {
	height: 50px;
	width: 190px;
	background-color: #b2a682;
	line-height: 50px;
	margin-top: -50px;
	margin-left: 310px;
	z-index: 1;
}

.tech_block3 {
	height: 280px;
	width: 500px;
	background: white;
	line-height: 30px;
}


/*footer area*/
#footer_logo {
	width: 84px;
	height: 84px;
	margin: auto;
	filter: invert(100%);
	margin-top: -150px;
	padding: 0 9px 0 0;
}

footer p {
	text-align: center;
	font-size: 100px;
	color: white;
}

.rhomb_footer {
	height: 200px;
	background: url('assets/rhombus.png') center no-repeat;
}

#footer_area {
	height: 650px;
	background: #292929;
	margin-top: -35px;
}

.baidu_map,#line_m,#bar_code,#line_bl,#line_br,#line_bb,#m_text {display: inline-block;}

.baidu_map {
	width: 30%;
	height: 50%;
	border: #b2a682 solid 6px;
	margin-top: 10%;
	margin-left: 10%;
}

#line_m {
	width: 0;
	height: 50%;
	border: #b2a682 solid 2px;
	margin-left: 7.8%;
}

#bar_code {
	width: 30%;
	height: 50%;
	border: #b2a682 solid 6px;
	margin-left: 9%;
}

#line_bl {
	width: 30%;
	height: 0;
	border: white solid 2px;
	margin-top: 50px;
	margin-left: 10%;
}

#m_text {
	color: white;
	border: white solid 2px;
	text-align: center;
	margin-left: 3%;
	width: 12%;
}

#line_br {
	width: 30%;
	height: 0;
	border: white solid 2px;
	margin-left: 3%;
}

#bb_text {
	border-bottom: #b2a682 solid 4px;
	margin-top: 20px;
	background: #292929;
}

#bb_text span {
	display: inline-block;
	color: white;
	width: 20%;
	height: auto;
}

#bb_text1 {
	margin-left: 15%;
}

#bb_text2 {
	margin-left: 30%;
}


/*responsive demo*/

/*ipad pro*/
@media screen and (max-width:1024px){
	#footer_area {
		height: 500px;
	}
}

/*ipad*/
@media screen and (max-width: 768px){
	#footer_area {
		height: 400px;
	}
}

/*iphone6*/
@media screen and (max-width: 375px){
	#footer_area {
		height: 300px;
	}
}

























