.text_center{text-align: center;}.text_left {text-align: left;}

.font_size18 {
	font-size: 18px;
}

.max_height900{max-height: 900px;}.max_height800{max-height: 800px;}.max_height700{max-height: 700px;}.max_height600{max-height: 600px;}.max_height500{max-height: 500px;}.max_height400{max-height: 400px;}.max_height300{max-height: 300px;}

.width100{width: 100%;}.width80{width: 80%;}.width60{width:60%;}.width50{width: 50%;}.width30{width:30%}.width25{width:25%;}

.bg_black {background: black;}.bg_f4grey{background: #f4f4f4;}

.deep{z-index: -1;}.high{z-index: 1;}

.half_left{width: 50%;float: left;}
.half_right{width: 50%;margin-left:50%;}
.box_shadow{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

body,h3,p {margin: 0;padding: 0;}

h1 {

}

.container {
	display: block;
	margin: auto;
	max-width: 1920px;
	position: relative;
	width: 100%;
}

.polaroid {
	background: white;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
}

.img_desc {
	text-align: center;
	padding: 15px 0px;
}

video,img {
	display: block;
}

#playicon {
	position: absolute;
	margin: 18% 32.5%;
	width: 35%;
}

#playicon:hover {
	opacity: 0.5;
	transition-duration: 1s;
}

.video_container:hover #playicon{
	display: block;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.inactive {
	color: #b2a682;
	transition-duration: 0.6s;
}

.active {
	background: black;
	color: #b2a682;
}

#debug {
	margin:10px;
	text-align: center;
}

#rb_container{
	height: 330px;
	width: 605px;
	margin-top: -330px;
	position: relative;
	left: 50%;
	transition-duration: 0.6s;
}

#tb_container {
	height: 280px;
	left: 60%;
	margin-top: -280px;
	position: relative;
	transition-duration: 0.6s;
	width: 500px;
}

.fill_content {
	height: 800px;
	position: relative;
}

.fill_content p {
	text-align: center;
	font-size: 100px;
}


/*main menu*/
#main_menu {
	height: 40px;
	background: black;
}

#main_menu a {
	text-decoration: none;
	color: white;
}

.menu_tag {
	height: 40px;
}

#main_menu li{
	display: inline-block;
	width: 15%;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 9px 0px;
	text-decoration: none;
	transition-duration: 0.6s;
	float: right;
}

#main_menu li:nth-child(even) {
	width: 5%;
}

#main_menu li:nth-child(odd):hover {
	background: #b2a682;
}

#main_menu li:hover span{
	color: black;
	transition-duration: 0.6s;
}

#main_menu li:hover .dropdown_content {
	display: block;
}

.dropdown_content {
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width: 100%;
	z-index: 1;
	margin-top: 9px;
}

#services .dropdown_content{width:15%;}#elite_movie .dropdown_content{margin-left:-45%;}#high_tech .dropdown_content{margin-left: -65%;}#pro_team .dropdown_content{margin-left: -85%;}

#services p {
	padding: 10px 0px;
	transition-duration: 0.6s;
}

#services p:hover {
	background: #b2a682;
	transition-duration: 0.6s;
}

#services p a {
	text-decoration: none;
	color: white;
	transition-duration: 0.6s;
}

#services p a:hover {
	color: black;
	transition-duration: 0.6s;
}

.dropdown_services {
	height: 200px;
	background: black;
	margin: auto;
}

.dropdown_services img {
	display: inline-block;
	width: 5%;
	height: 120px;
	margin: 20px 30px;
}

.dropdown_services img:nth-child(odd) {
	background: #b2a682;
}

.dropdown_services img:nth-child(even) {
	background: #b2b2b2;
}

#pro_team img,#high_tech img,#elite_movie img {
	width: 100%;
	max-height: 500px;
}

/*overlap blocks*/
#block1 {
	height: 160px;
	width: 280px;
	background: #292929;
	position: absolute;
	margin: -300px -280px;
}

.block1_text {
	position: absolute;
	color: #b2a682;
	font-size: 20px;
	line-height: 30px;
	margin: 30px 40px;
}

#block2 {
	height: 300px;
	width: 400px;
	background: white;
	position: absolute;
	margin: -140px 0px;
}

.block2_text {
	position: absolute;
	font-size: 18px;
	font-weight: bold;
	margin: 60px 50px;
}

#block3 {
	width: 425px;
	position: absolute;
	margin-left: -425px;
}

#block3_img {
	width: 100%;
}

/*rhombus header*/

.rhomb_header {
	height: 200px;
	background: url('rhombus.png') center no-repeat;
	z-index: 1;
	margin-top: -100px;
}

.rhomb_text {
	color: #b2a682;
	text-align: center;
	padding: 80px;
}

.rheader_text_container {
	width: 200px;
	margin: auto;
	text-align: center;
	color: white;
}

.rheader_text {
	width: 200px;
	position: absolute;
	margin-top: 85px;
}

/*标签*/
#range {
	margin-top: -120px;
}

.tag_bg {
	height: 360px;
	background-color: #f4f4f4;
	margin-top: -100px;
	z-index: -1;
}

.tag {
	height: 210px;
	margin: auto;
	margin-top: -270px;
	z-index: 1;
	display: block;
}

.tag_text {
	margin: auto;
}

.range_tag {
	width: 1152px;
}

.tech_tag {
	width: 720px;
}

.range_tag img {
	margin: auto;
	margin-top: 20px;
	border-radius: 50px;
	width: 48px;
	background: #b2a682;
}

.range_tag li:nth-child(even) img {
	background: #b2b2b2;
}

.tech_tag img {
	margin: auto;
	margin-top: 50px;
	width: 75px;
}

.tag_text li{
	height: 180px;
	width: 144px;
	text-align: center;
	float: left;
	font-size: 15px;
}

.tag_text li:nth-child(even) {
	color: #b2b2b2;
}


.tag_text li:hover {
	background: black;
	transition-duration: 0.6s;
}

#range_more,#tech_more {
	text-decoration: none;
	color: black;
}

#range_more:hover,#tech_more:hover {
	color: white;
}

/*tag titles*/
.range_title {
	width: 1152px;
	margin: auto;
}

.range_title h4, .tech_title h4{
	display: inline-block;
	border-bottom: 3px solid #b2a682;
}

#rt_movie,#rt_plan,#rt_prop{text-align: center;margin-left: 80px;width: 210px;}
#rt_net,#rt_baby{text-align: center;margin-left: 60px;width: 80px;}
#rt_movie{margin-left: 30px;}

.tech_title {
	width: 720px;
	margin: auto;
}

#tt_plan,#tt_shoot,#tt_cut,#tt_special,#tt_adv{text-align:center;width:64px;margin-left: 75px;}
#tt_plan{margin-left: 40px;}

/*业务范畴文字块*/
.range_bottom {
	background: black;
	font-size: 18px;
}

.range_bottom span {
	display: block;
}

#range_img {
	margin: auto;
}

.range_block1,.range_block2,.range_block3 {
	transition-duration: 0.6s;
}

.range_block1 {
	height: 110px;
	width: 230px;
	background: #292929;
	position: absolute;
	color: white;
	z-index: 1;
}

.range_block2 {
	height: 50px;
	width: 130px;
	background: #b2a682;
	position: absolute;
	left: 100px;
	margin-top: 110px;
	line-height: 50px;
	z-index: 1;
}

.range_block3 {
	height: 225px;
	width: 375px;
	background: white;
	position: absolute;
	right: 0;
	margin-top: 110px;
}

.range_block3 span {
	margin: 13px 0px;
}

/*technology and experience*/
#tech_3rd span {
	display: block;
}

#tech_tag li{
	padding: 100px 60px;
}

#tech_img {
	width: 100%;
	position: relative;
	top: -37px;
}

.tech_block1,.tech_block2,.tech_block3 {
	position: absolute;
	transition-duration: 0.6s;
}

.tech_block1 {
	height: 80px;
	width: 230px;
	background: black;
	line-height: 38px;
	color: white;
	margin-top: -80px;
	margin-left: -230px;
	z-index: 1;
}

.tech_block2 {
	height: 50px;
	width: 190px;
	background-color: #b2a682;
	line-height: 50px;
	margin-top: -50px;
	margin-left: 310px;
	z-index: 1;
}

.tech_block3 {
	height: 280px;
	width: 500px;
	background: white;
	line-height: 30px;
}


/*responsive demo*/
























