#pop_pray_text {
	padding: 10px 10px;
	background: #393939;
	color: white;
	position: absolute;
	text-align: center;
	right: 0;
	margin-top: 20%;
}

#pop_thrilldemo,#pop_factory {
	float: left;
}

#pop_overview_bg {
	background: #f4f4f4;
}

#pop_blackflower {
	margin-left: 50%;
}

#pop_overview_text {
	background: black;
	color: white;
	width: 50%;
	height: 200px;
	font-size: 18px;
	text-align: center;
}

.pop_rhomb_text {
	color: #b2a682;
	text-align: center;
	padding: 60px;
}

#factory_text {
	background: black;
	color: white;
	position: absolute;
	width: 30%;
	text-align: center;
	padding: 10px 5px;
	margin-left: 60%;
}

@media screen and (max-width: 1024px) {
	#pop_pray_text h3{
		font-size: 12px;
	}

	#factory_text h3 {
		font-size: 10px;
	}
}