.active {
	margin: 10px;
	padding: 3px 20px;
	background: black;
	color: white;
	border-radius: 8px;
}

.inactive {
	margin: 10px;
	padding: 3px 20px;
	background: orange;
	border-radius: 8px;
}

.inactive:hover {
	background: black;
	color: white;
}