.header-rhomb{
	text-align:center;
	top:-120px;
	position:relative;
}
.header-rhomb .hn{
	height:240px;
	width:240px;
	display:table;
	vertical-align:middle;
	margin-left:auto;
	margin-right:auto;
	background:url("labixiaoxin.jpg") center no-repeat;
	color:#fff;
}
.header-rhomb .hn > span{
	display:table-cell;
	vertical-align:middle;
}

.header-rhomb .sep{
	color:#b2a682;
	font-family:"Droid Serif",serif;
	font-size:16px;
	display:block;
	text-transform:none;
	font-style:italic;
	line-height:1;
	margin-bottom:2px;
}

.header-rhomb{margin-top:-120px;
	height:240px;
}

.header-rhomb{
	padding-top:400px;
 	z-index:1;
}